@import "fonts";
@import "normalize";
* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto-Regular", "sans-serif";
    font-family: 500;
    font-size: 16px;
    overflow-x: hidden; 
    min-height: 320px; 
    color: #000000;
    max-width: 1920px;
    margin: 0 auto; 
  }
  
  *,*::before, *::after{
    box-sizing: inherit;
  }
  
  a{
    text-decoration: none;
    color: inherit;  
    display: inline-block;
  }
  
  ul,
  li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0; 
  }
  p{
    margin: 0;
  }
  .container{
    max-width: 1280px;   
    margin: 0 auto;
    padding: 0px 10px; 
  }
$greyL: #A0A4A8;
$grey: #828282;
$greyB: #52575C;
$white: #FFFFFF;
$red: #E93C3C;
$black: #25282B;
$blue: #1A8BFF;


@mixin flexBox ($d , $j) {
  display: $d;
  justify-content: $j;
}
@mixin fontRobReg ($c,$lineH,$fs) {
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
@mixin fontRobMed ($c,$lineH,$fs) {
  font-family: "Roboto-Medium", "sans-serif";
  font-weight: 500;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
@mixin fontRobBol ($c,$lineH,$fs) {
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 700;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
.header{
  &__wrapper{
    margin: 5px 0 5px 0;
  }
  &-top{
    @include flexBox (flex, space-between);
    align-items: center;
  }
  &-buttom{
    background-color: #F2F2F2;
    height: 48px;
  }
  &-buttom__catalog{
    @include fontRobMed($white,16px,14px);
    width: 128px;
    height: 48px;
    @include flexBox (flex, space-around);
    align-items: center;
    background-color:rgba(235, 71, 71, 1);
  }
  &-buttom__wrapper{
    display: flex;
    max-width: 988px;
    width: 100%;
  }
  &-buttom__container{
    @include flexBox (flex, space-between);
  }
}

.location{
  &__wrapper{
    max-width: 132px;
    width: 100%;
  }
  &__your-city{
   @include fontRobReg ($grey,16px,12px);
  }
  &__city{
    position: relative;
    @include fontRobMed($red,16px,14px);
    margin-left: 20px;
    border-bottom: 1px dashed;
  }
  &__city::before{
    position:absolute;
    content: " ";
    background-image: url(../img/icon/location-icon.svg);
    width: 16px;
    height: 16px;
    top: 0;
    left: -21px;
  }
}

.search {
  position: relative;
  max-width: 307px;
  width: 100%;
  &__input {
    position: relative;
    box-sizing:border-box;
    @include fontRobReg ($grey,16px,16px);
    height: 30px;
    width: 100%;
    padding: 0 50px 0 15px;
    border-radius: 2px;
    border: 1px solid #CACCCF;
    background: rgba(249, 249, 250, 1);
  }
  &__submit{
    position:absolute;
    top: 5px;
    right: 12px;
    padding: 0;
    border: none;
    background: inherit;
    cursor: pointer;
  }

}

.mode {

  &__wrapper {
    @include fontRobReg ($grey,130%,12px);
    max-width: 114px;
    width: 100%;
  }
}

.address {
  &__wrapper {
    max-width: 120px;
    width: 100%;
  }

  &__city {
    @include fontRobReg ($grey,16px,12px);
  }

  &__phone {
    @include fontRobBol ($black,16px,14px);
  }
  &__call{
    @include fontRobReg ($red,16px,12px);
  }
}

.burger{
  cursor: pointer;
  &__btn-line{
    box-sizing: inherit;
    background: $white;
    height: 3px;
    width: 20px;
    margin-bottom: 3px;
    display: block;
  }
}

.nav {
  width: 880px;
  &__menu {

    width: 100%;
    height: 48px;
    @include flexBox (flex, space-around);
    align-items: center;
  }

  &__menu-item {
    @include fontRobReg ($grey,16px,14px);
    height: 48px;
  }

  &__menu-item-sing{
    @include fontRobMed ($red,130%,14px)
  }
  &__menu-link {
    height: 31px;
    padding-top: 15px;
  }
  &__menu-link:hover{
    border-bottom: 2px solid $red;
  }
}

.basket {
  width: 162px;
  &__wrapper {
    @include flexBox (flex, space-between);
    align-items: center;
    height: 48px;
    width: 100%;
  }
  &__heart,&__goods {
    position: relative;
  }
  &__num-heart{
    position: absolute;
    @include fontRobReg ($white,10px,8px);
    width: 14px;
    height: 14px;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    bottom: 12px;
    right: -6px;
  }
  &__num-goods{
    position: absolute;
    @include fontRobReg ($white,10px,8px);
    width: 14px;
    height: 14px;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    bottom: 13px;
    right: 2px;
  }
  &__num-heart span,
  &__num-goods span{
    display: block;
    margin-top: 2px;
  }

}