@import "fonts";
@import "normalize";
@import "nouislider";
* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto-Regular", "sans-serif";
    font-family: 500;
    font-size: 16px;
    overflow-x: hidden; 
    min-height: 320px; 
    color: #000000;
    max-width: 1920px;
    margin: 0 auto; 
  }
  
  *,*::before, *::after{
    box-sizing: inherit;
  }
  
  a{
    text-decoration: none;
    color: inherit;  
    display: inline-block;
  }
  
  ul,
  li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0; 
  }
  p{
    margin: 0;
  }
  .container{
    max-width: 1280px;   
    margin: 0 auto;
    padding: 0px 20px; 
  }
$greyL: #A0A4A8;
$grey: #828282;
$greyB: #52575C;
$white: #FFFFFF;
$red: #E93C3C;
$black: #25282B;
$blue: #1A8BFF;


@mixin flexBox ($d , $j) {
  display: $d;
  justify-content: $j;
}
@mixin fontRobReg ($c,$lineH,$fs) {
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
@mixin fontRobMed ($c,$lineH,$fs) {
  font-family: "Roboto-Medium", "sans-serif";
  font-weight: 500;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
@mixin fontRobBol ($c,$lineH,$fs) {
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 700;
  color: $c;
  line-height: $lineH;
  font-size: $fs;
}
.header{
  &__wrapper{
    margin: 5px 0 5px 0;
  }
  &-top{
    @include flexBox (flex, space-between);
    align-items: center;
  }
  &-buttom{
    background-color: #F2F2F2;
    height: 48px;
  }
  &-buttom__catalog{
    @include fontRobMed($white,16px,14px);
    width: 128px;
    height: 48px;
    @include flexBox (flex, space-around);
    align-items: center;
    background-color:rgba(235, 71, 71, 1);
  }
  &-buttom__wrapper{
    display: flex;
    max-width: 988px;
    width: 100%;
  }
  &-buttom__container{
    @include flexBox (flex, space-between);
  }
}

.location{
  &__wrapper{
    max-width: 132px;
    width: 100%;
  }
  &__your-city{
   @include fontRobReg ($grey,16px,12px);
  }
  &__city{
    position: relative;
    @include fontRobMed($red,16px,14px);
    margin-left: 20px;
    border-bottom: 1px dashed;
  }
  &__city::before{
    position:absolute;
    content: " ";
    background-image: url(../img/icon/location-icon.svg);
    width: 16px;
    height: 16px;
    top: 0;
    left: -21px;
  }
}

.search {
  position: relative;
  max-width: 307px;
  width: 100%;
  &__input {
    position: relative;
    box-sizing:border-box;
    @include fontRobReg ($grey,16px,16px);
    height: 30px;
    width: 100%;
    padding: 0 50px 0 15px;
    border-radius: 2px;
    border: 1px solid #CACCCF;
    background: rgba(249, 249, 250, 1);
  }
  &__submit{
    position:absolute;
    top: 5px;
    right: 12px;
    padding: 0;
    border: none;
    background: inherit;
    cursor: pointer;
  }

}

.mode {

  &__wrapper {
    @include fontRobReg ($grey,130%,12px);
    max-width: 114px;
    width: 100%;
  }
}

.address {
  &__wrapper {
    max-width: 120px;
    width: 100%;
  }

  &__city {
    @include fontRobReg ($grey,16px,12px);
  }

  &__phone {
    @include fontRobBol ($black,16px,14px);
  }
  &__call{
    @include fontRobReg ($red,16px,12px);
  }
  &__email{
    @include fontRobReg(#52575C,130%,14px)
  }
}

.burger{
  cursor: pointer;
  &__btn-line{
    box-sizing: inherit;
    background: $white;
    height: 3px;
    width: 20px;
    margin-bottom: 3px;
    display: block;
  }
}

.nav {
  width: 880px;
  &__menu {

    width: 100%;
    height: 48px;
    @include flexBox (flex, space-around);
    align-items: center;
  }

  &__menu-item {
    @include fontRobReg ($grey,16px,14px);
    height: 48px;
  }

  &__menu-item-sing{
    @include fontRobMed ($red,130%,14px)
  }
  &__menu-link {
    height: 31px;
    padding-top: 15px;
  }
  &__menu-link:hover{
    border-bottom: 2px solid $red;
  }
}

.basket {
  width: 162px;
  &__wrapper {
    @include flexBox (flex, space-between);
    align-items: center;
    height: 48px;
    width: 100%;
  }
  &__heart,&__goods {
    position: relative;
  }
  &__num-heart{
    position: absolute;
    @include fontRobReg ($white,10px,8px);
    width: 14px;
    height: 14px;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    bottom: 12px;
    right: -6px;
  }
  &__num-goods{
    position: absolute;
    @include fontRobReg ($white,10px,8px);
    width: 14px;
    height: 14px;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    bottom: 13px;
    right: 2px;
  }
  &__num-heart span,
  &__num-goods span{
    display: block;
    margin-top: 2px;
  }
  &__user{
    display: flex;
    align-items:center;
  }
  &__user-text{
    @include fontRobReg ($red,16px,14px);
    margin-left: 10px;
  }
}
/* header end */

.breadcrumbs {
  &__list {
    margin-top: 38px;
    margin-bottom: 50px;
  }

  &__list-item, &__list-item-span {
    @include fontRobReg ($grey,130%,14px);
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
  }
  
  &__list-item::after{
    content: '';
    position: absolute;
    right: 0;
    background-image: url(../img/icon/breadcrumbs-arrow.svg);
    width: 6px;
    height: 9px;
    bottom: 5px;
  }
}

/* filter start */
.filter {

  &__h1 {
    @include fontRobReg ($greyB,130%,32px);
    margin-bottom: 30px;
    color: $black;
  }

  &__bnt {
    display: flex;
    flex-wrap: wrap;
  }

  &__bnt-item {
    @include fontRobReg ($greyB,14px,12px);
    margin-right: 8px;
    border: 1px solid #CACCCF;
    background-color:rgba(249, 249, 250, 1);
    border-radius: 2px;
    margin-bottom: 8px;
  }
  &__bnt-item:hover {
    background:rgba(233, 60, 60, 1)
  }
  &__bnt-item:hover a{
    color: $white;
  }
  &__bnt-item:last-child{
    background-color: $white;
  }
  &__bnt-item:last-child:hover a{
    color: $red;
  }
  &__bnt-item:last-child:hover &__bnt-link .filter__more{
    color: $greyB;
  }
  &__bnt-item:last-child:hover {
    border: 1px solid $red;
  }
  &__bnt-link {
    padding: 9px 8px;
  }
}


.filter-by {
  &__price {
    position:relative;
    margin: 0 12px 0 auto;
    width: 186px;
    z-index: 2;
  }
  &__price-item{
    @include fontRobReg($greyB, 130%, 14px);
    width: 196px;
    
  }
  &__price-item:hover{
    background-color:$white;
    box-shadow: 0 23px 20px rgb(37 40 43 / 5%);
  }
  &__price-item ul{
    position: absolute;
    background-color:$white;
    box-shadow: 0 23px 20px rgb(37 40 43 / 3%);
    display: none;
  }
  &__price-icon{
    margin-left: 13px;
  }

  &__price-item ul li a{
    width: 186px;
  }
  &__price-item ul li a:hover {
    background-color:#007EFF;
    color:$white;
  }
  &__price-item:hover &__price-icon{
    transform: rotate(-180deg);
  }
  &__price-item:hover ul{
    position: absolute;
    display: block;
  }
  &__price-link,
  &__price-inner a{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
  }
}
/* filter end */


/*range */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.filters-price__inputs {
	display: flex;
  justify-content: space-between;
}

.filters-price__label {
	display: flex;
	align-items: center;
	width: 92px;
	height: 30px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	padding: 0 10px;
  background-color:$white;
}

.filters-price__text {
  @include fontRobReg(rgba(0, 0, 0, 1),100% , 14px);
}

.filters-price__text:first-child {
	margin-right: 10px;
}

.filters-price__text:last-child {
	margin-left: 10px;
}

.filters-price__input {
	border: none;
	color: #4D4D4D;
	font-size: 14px;
}

.filters-price__title {
	margin-bottom: 20px;
}

.filters-price__slider {
	margin-bottom: 30px;
}

.noUi-connect {
	background-color: #FF6262;
}

.noUi-target {
	background-color: #bfbfbf;
	border: none;
	border-radius: 100px;
	box-shadow: none;
	height: 3px;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 100%;
	background-color: #fff;
	border: 3px solid #FF6262;
}

.noUi-horizontal .noUi-handle {
	width: 22px;
	height: 22px;
	top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0;
}
/*range end*/

/* aside */
  .catalog {

	&__wrapper {
    margin-top: 20px;
	}
}
.catalog-aside {

		&__price {
      max-width: 257px;
      max-height: 2512px;
      background: #F9F9FA;
      border: 1px solid #E8E8E8;
      padding: 0 20px;
		}
		&__item-drop {
      margin-top: 33px;
      border-bottom: 1px solid rgba(232, 232, 232, 1);
      width: 228px;
		}

		&__item-title {
      display: flex;
      justify-content: space-between;
      @include fontRobMed($black,130% , 16px);
      margin-bottom: 20px;
      cursor: pointer;
		}
    &__item-title img{
      margin-right: 2px;
      transform: rotate(0deg);
      transition: 0.3s;
		}
    &__item-title.catalog-aside__item-title--active img{
        transform: rotate(180deg);
        transition: 0.3s;
    }
		&__content-box {
      margin-bottom: 20px;
		}
    &__checkbox{
      position: relative;
      padding-top: 2px;
      margin-bottom: 12px;
    }
    &__checkbox:last-child{
      position: relative;
      margin-bottom: 30px;
    }
    &__checkbox-input{
      position: absolute;
      appearance: none;
    }
    &__checkbox-label{
      @include fontRobReg($greyB, 20px, 16px);
      padding-left: 34px;
      cursor: pointer;
    }
    &__checkbox-label::before{
      position: absolute;
      content: "";
      display: block;
      height: 20px;
      width: 20px;

      border: 1px solid rgba(232, 232, 232, 1);
      background-color: $white;
      top: 0;
      left: 0;
      z-index: 1;

    }
    &__checkbox-label::after{
      position: absolute;
      opacity: 0;
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background-image: url(../img/icon/checkbox-icon.svg);
      top: 1px;
      left: 1px;
      z-index: 2;
    }
    &__checkbox-input:checked + &__checkbox-label::after{
      opacity: 1;
    }
    &__more{
      margin-top: 67px;
    }
    &__more-btn,
    &__reset-btn{
      display: block;
      padding: 0;
      border: none;
      color: inherit;
      background-color: transparent;
    }
    &__more-btn{
      padding: 17px 51px;
      border: 2px solid $red;
      margin: 0 auto;
      cursor: pointer;
    }
    &__more-btn span{
      text-align: center;
      @include fontRobReg($red, 16px, 16px);
    }
    &__reset-btn{
      margin: 0 auto;
      margin-top: 20px;
      cursor: pointer;
    }
    &__reset-btn span{
      text-align: center;
      @include fontRobReg($red, 16px, 16px);
    }
}
/* aside  end */
/* .catalog */
.catalog{
  &__wrapper{
    display: flex;
  }
  &__card-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width:1210px;
    width: 100%;
  }
  &__card{
    display: block;
    width: 24.8%;
    border: 1px solid #e8e8e8;
  }
  &__card:hover{
    box-shadow: 0px 0px 20px rgba(37, 40, 43, 0.2);
    z-index: 1;
  }
  &__img-box{
    text-align: center;
  }
  &__img-box img{
    margin-top: 14px;
  }
  &__content{
    margin: 0 20px 20px 20px;
  }
  &__content-art{
    @include fontRobReg($greyL, 130%, 14px);
    margin: 24px 0 8px;
  }
  &__content-text{
    @include fontRobReg($black, 130%, 14px);
    margin-bottom: 14px;
  }
  &__content-wholesale{
    @include fontRobReg($blue, 130%, 18px);
    margin-bottom: 2px;
  }
  &__content-retail{
    @include fontRobMed($red, 130%, 18px);
    margin-bottom: 20px;
  }
  &__basket{
    display: flex;
    margin: 20px 0 3px;
  }
  &__basket-add, &__basket-heart{
    display: block;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  &__basket-add{
    @include fontRobReg(#52575C,16px ,16px );
    border: 1px solid #A0A4A8;
    max-width: 148px;
    width: 100%;
    height: 36px;
    border-radius: 2px;
  }
  &__basket-add:hover{
    background-color:$red;
    color: $white;
  }
  &__basket-heart{
    border: 1px solid #A0A4A8;
    padding: 7px 12px 4px 12px;
    margin-left: 20px;
    border-radius: 2px;
  }
  &__basket-heart:hover{
    background-color:$red;
  }
  &__basket-heart:hover &__basket-heart-path {
    stroke:$white;
  }

  &__more{
    @include fontRobReg($black,16px,16px);
    display: block;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 99.8%;
    height: 46px;
    border: 1px solid rgba(232, 232, 232, 1);
    background: #F9F9FA;
  }
}
/* .catalog end*/

/* pagination */
.pagination {
  margin-top: 32px;
  margin-bottom: 200px;
  &__list {
    position: relative;
    @include fontRobReg($black,130%,16px);
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
  }
  &__list::before{
    position: absolute;
    content: "";
    background-image: url(../img/icon/pagination__arrow-left.svg);
    height: 14px;
    width: 8px;
    left: -32px;
    top: 4px;
    cursor: pointer;
  }
  &__list::after{
    position: absolute;
    content: "";
    background-image: url(../img/icon/pagination__arrow-right.svg);
    height: 14px;
    width: 8px;
    top: 5px;
    right: -43px;
    cursor: pointer;
  }
  &__list-item {
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
  }
  &__list-item  a{
    margin-top: 2px;
  }
  &__list-item:hover:not(:last-child) {
    background-color:$red;
    border-radius: 2px;
    color: #ffff;
  }
  &__list-item:last-child{
    color: $red;
  }
  .footer__top-item .address__email {
    margin-bottom: 20px;
  }
  .footer__top-item .social {
    margin-bottom: 29px;
  }
}
/* pagination end*/

/* footer */
.footer {

  &__top {
    min-height: 348px;
    background-color:rgba(249, 249, 250, 1);
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
  }
  &__top-inner {
    @include flexBox(flex,space-between);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__top-item .address__phone{
    margin-bottom: 6px;
  }
  &__top-item .address__call{
    margin-bottom: 20px;
  }
  &__top-item .address__email{
    margin-bottom: 22px;
    width: 138px;
  }
  &__top-item .social{
    margin-bottom: 30px;

  }
  &__top-item .download__fill{
    position: absolute;
    @include fontRobReg($red,16px,14px);
    margin-left: 38px;
  }
  &__top-item .download__fill::before{
    position: absolute;
    content: "";
    background-image: url(../img/icon/exel-icon.svg);
    height: 28px;
    width: 28px;
    top: -7px;
    left: -38px;
  }
  &__top-item {
    width: 232px;
  }
  &__top-item:first-child {
    width: 170px;
  }
  &__top-item:last-child {
    width: 300px;
  }

  &__list {
    @include fontRobMed($greyL,130%,16px);
  }

  &__list-item {
    margin-bottom: 20px;
  }
  &__list-item-liq{
    color:$red;
  }
  &__social a{
    margin-right: 6px;
  }
}

.subscription {

  &__title {
    @include fontRobMed($black,130%,14px);
    margin-bottom: 30px;
  }

  &__form {
    position: relative;
  }
  &__form::after {
    position: absolute;
    content: "";
    background-image: url(../img/icon/footer__send-icon.svg);
    height: 24px;
    width: 24px;
    top: 8px;
    right: 12px;
  }
  &__form-input {
    box-sizing:border-box;
    height: 40px;
    width: 298px;
    padding: 0 40px 0 20px;
    margin-bottom: 20px;
  }
  .catalog-aside__checkbox-label{
    @include fontRobReg($greyL,130%,12px );
  }
  .catalog-aside__checkbox-label::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    top: 6px;
    left: 13px;
    z-index: 1;
}
.catalog-aside__checkbox-label::after {
  position: absolute;
  opacity: 0;
  content: "";
  display: block;
  height: 13px;
  width: 13px;
  background-image: url(../img/icon/checkbox__footer-icon.svg);
  top: 5px;
  left: 13px;
  z-index: 2;
}
}

.footer {

  &__bottom {
    min-height: 70px;
    background-color:rgba(249, 249, 250, 1);
    padding-bottom: 21px;
  }

  &__bottom-title {
    @include fontRobReg($black,130%,14px);
    padding-top: 30px;
    margin-bottom: 8px;
  }

  &__bottom-text {
    @include fontRobReg($black,130%,10px);
  }
}
/* footer end*/

/* .modal  start*/
.modal-choice {
  display: none;
  align-items:center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  &__wrapper {
    position:relative;
    z-index: 4;
    color: black;
    width: 321px;
    height: 600px;
    background-color:$white;
    margin: 0 auto;
  }
  &__window{
    padding: 36px 10px 20px 10px;

  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items:center;
  }
  &__item img{
    cursor: pointer;
  }
  &__item:nth-child(2){
    margin-bottom: 49px;
  }
  &__art{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 8px 10px;
  }
  &__art:first-child{
    border-top: 1px solid #E8E8E8;
  }
  &__art-color{
    background-color:rgba(249, 249, 250, 1);
  }
  &__art-text{
    @include fontRobReg($grey, 130%, 14px);
    width: 130px;
  }
  &__counter{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 128px;
    height: 35px;
    margin-top: 8px;
  }
  &__counter img{
    cursor: pointer;
  }
  &__counter-numer{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 32px;
    width: 50px;
    border-radius: 4px;
    border: 1px solid rgba(232, 232, 232, 1);
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:$black;
    opacity: 0.5;
  }
  &__btn{
    display: block;
    width: 300px;
    height: 40px;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    border: 2px solid rgba(233, 60, 60, 1);
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
  }
  &__btn span{
    @include fontRobMed ($red, 16px, 16px);
  }
  &--active{
    display: flex;
  }
}
/* .modal  end*/
.hide{
  display: none;
}
